<% if(locals.mainPost === undefined) locals.mainPost = false; %>
<% if(locals.moderator === undefined) locals.moderator = false; %>
<div class="posts-wrapper" id="<%= post.id %>">
	<% if (post.removed) { %>
		<div class="post-body-content removed">
			<h3>Post has been removed.</h3>
		</div>
	<% } %>
	<% if (!post.removed || moderator) { %>
		<div class="post-user-info-wrapper" id="<%= post.id %>">
			<img class="user-icon <%= post.verified ? 'verified' : '' %>"
				src="<%= post.mii_face_url %>"
				data-pjax="/users/show?pid=<%= post.pid %>">

			<div class="post-meta-wrapper">
				<h3>
					<a href="/users/show?pid=<%= post.pid %>"><%= post.screen_name %></a>
				</h3>

				<% if (post.verified) { %>
					<span class="verified-badge">✓</span>
				<% } %>
				
				<h4>
					<%= moment(post.created_at).fromNow() %> - 
					<a href="/titles/<%=post.community_id%>"><%= communityMap.get(post.community_id) %></a>
				</h4>
			</div>
		</div>

		<% if (post.is_spoiler) { %>
			<div class="spoiler-overlay">
				<button onclick="this.parentElement.style.display = 'none'; document.getElementById('post-content-<%= post.id%>').style.display = 'block'">Click to Show Spoiler</button>
			</div>
		<% } %>

		<div class="post-content"
			id="post-content-<%= post.id%>"
			<%# Will be removed by spoiler-overlay onclick %>
			<% if (post.is_spoiler) { %>
				style="display: none"
			<% } %>
			onclick="location.href='/posts/<%= post.id %>'">
			
			<% if(post.body !== '') { %>
				<h4><%= post.body %></h4>
			<% } %>
			<% if(post.screenshot !== '') { %>
				<img id="<%= post.id %>" class="screenshot" src="<%= `${cdnURL}${post.screenshot}` %>">
			<% } %>
			<% if(post.painting !== '') { %>
				<img id="<%= post.id %>" class="painting" src="<%= `${cdnURL}/paintings/${post.pid}/${post.id}.png` %>">
			<% } %>
			<% if(post.url) { %>
				<iframe width="760" height="427.5" src="<%= post.url.replace('watch?v=','embed/') %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			<% } %>
		</div>

		<div class="post-buttons-wrapper">
			<%# Heart/Empathy button %>
			<span
				data-post="<%= post.id %>"
				<% const selected = userContent && post.yeahs && post.yeahs.includes(userContent.pid); %>
				class="empathy-button <%= selected ? 'selected' : '' %>">

				<%- include('assets/heart_icon.svg') %>
				<h4 id="count-<%= post.id %>"><%= post.empathy_count %></h4>
			</span>
			
			<%# Reply "button" %>
			<span class="reply-button">
				<%- include('assets/reply_icon.svg') %>
				<h4><%= post.reply_count %></h4>
			</span>
			
			<%# Hamburger menu %>
			<span type="button" class="post-hamburger-button" aria-haspopup="menu" aria-expanded="false">
				<%- include('assets/menu_icon.svg') %>
				<ul class="post-hamburger" role="menu" data-post="<%= post.id %>">
					<li role="menuitem" data-action="report"><%- include('assets/flag_icon.svg') %> Report Post</li>
					<% if (moderator) { %>
					<li role="menuitem" data-action="delete" data-moderator><%- include('assets/bin_icon.svg') %> Delete Post</li>
					<% } %>
					<li role="menuitem" data-action="copy"><%- include('assets/share_icon.svg') %> Copy link</li>
				</ul>
			</span>
		</div>
	<% } %>
</div>
